<div class="row">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Ganancias</h1>
                <div class="row">
                    <div class="col-sm-12">
                        <img src="assets/imgs/chart.png" class="chartImage" calt="">
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Historial de Sesiones</h1>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h1 class="text-center text-yellow">90%</h1>
                                        <p class="text-center">Asistencia</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <h1 class="text-center text-yellow">90%</h1>
                                        <p class="text-center">Alumnos Inscritos</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <h1 class="text-center text-yellow">10:20:02</h1>
                                        <p class="text-center">Minutos invertidos</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-sm-12">
                            <div class="card card-border card-shadow">
                                <div class="card-body">
                                    <div class="row h-100">
                                        <div class="col-sm-2">
                                            <img src="https://randomuser.me/api/portraits/men/1.jpg" style="width:100%;" class="rounded-circle" alt="">
                                        </div>
                                        <div class="col-sm-2 my-auto">
                                            <h6>Iván Solis</h6>
                                        </div>
                                        <div class="col-sm-2 my-auto">
                                                <span>21 Marzo 2019</span>
                                        </div>
                                        <div class="col-sm-2 my-auto">
                                            <span class="text-muted">1:42 am</span>
                                        </div>
                                        <div class="col-sm-2 my-auto">
                                            <span class="text-yellow">30 min</span>
                                        </div>
                                        <div class="col-sm-2 my-auto">
                                            <a href="" class="btn btn-yellow btn-block">
                                                    <i class="fas fa-video"></i> Ver
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                                <div class="card card-border card-shadow">
                                    <div class="card-body">
                                        <div class="row h-100">
                                            <div class="col-sm-2">
                                                <img src="https://randomuser.me/api/portraits/women/68.jpg" style="width:100%;" class="rounded-circle" alt="">
                                            </div>
                                            <div class="col-sm-2 my-auto">
                                                <h6>Sofía Vázquez</h6>
                                            </div>
                                            <div class="col-sm-2 my-auto">
                                                <span>19 Octubre 2019</span>
                                            </div>
                                            <div class="col-sm-2 my-auto">
                                                <span class="text-muted">1:42 am</span>
                                            </div>
                                            <div class="col-sm-2 my-auto">
                                                <span class="text-yellow">30 min</span>
                                            </div>
                                            <div class="col-sm-2 my-auto">
                                                <a href="" class="btn btn-yellow btn-block">
                                                        <i class="fas fa-video"></i> Ver
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-10 offset-sm-1">
                        <h2>Game Plan</h2>
                        <img src="assets/imgs/courses/usa_flag_x4.png" class="flag" alt="">
                    </div>
                    <div class="col-sm-6 offset-sm-3">
                        <a href="" class="btn btn-yellow btn-block">Acceder</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-10 offset-sm-1">
                        <h2>Meta Mensual</h2>
                    </div>
                    <div class="col-sm-6">
                        <a href="" class="btn btn-yellow btn-block">Resultados</a>
                    </div>
                    <div class="col-sm-6">
                        <a href="" class="btn btn-disabled btn-block">Progreso</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-10 offset-sm-1">
                        <h2>Bono del Día</h2>
                    </div>
                    <div class="col-sm-6">
                        <a href="" class="btn btn-yellow btn-block">Participar</a>
                    </div>
                    <div class="col-sm-6">
                        <a href="" class="btn btn-disabled btn-block">Omitir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>