@import "../../../variables.scss";
.navbar {
    background: $app-yellow;

  .logo {
    width: 132px;
    height: 37.1px;
    object-fit: contain;
  }

  .navbar-nav{
      .nav-item{
          margin: 0 10px;
          .nav-link{
              color: #fff;
              padding-top: 0;
          }
      }
  }
}
