.card {
  border-radius: 20px;
  border: 0;
  h1.card-title {
    font-size: 24px;
  }
  h2.card-title {
    font-size: 20px;
  }
  h3.card-title {
    font-size: 16px;
  }

  .flag{
    width: 158px;
    height: 158px;
    display: block;
    margin: 30px auto 20px;
    object-fit: contain;
  }
}

.card-shadow{
  .flag{
    width: 24px;
    height: 24px;
  }
}

.wrapper {
  width: 100%;
  margin: 30px auto;

  .progress-bar {
    width: 100%;
    background-color: #f7f7f7;
    border-radius: 9px;

    .progress-bar-fill {
      display: block;
      height: 22px;
      border-radius: 9px;
      background-color: #ffbe00;
      transition: width 500ms ease-in-out;
    }
  }
}
