.welcome{
    background: #FFCA08;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

    h1{
        color: #fff;
        font-family: 'Poppins', sans-serif;
        font-size: 3em;
    }
    h3{
        color: #fff;
        font-family: 'Poppins', sans-serif;
        font-size: 1.2em;
    }
}