.card {
  border-radius: 20px;
  border: 0;
  h1.card-title {
    font-size: 24px;
  }
  h2.card-title {
    font-size: 20px;
  }
  h3.card-title {
    font-size: 16px !important;
  }

  .teacher-photo {
    width: 42px;
    height: 42px;
    border: solid 2px #83d400;
    border-radius: 50%;
  }

  .rating {
    list-style: none;

    li {
      display: inline-block;

      img {
        width: 18px;
        height: 18px;
        object-fit: contain;
      }
    }
  }

  .flag {
    width: 28px;
    height: 28px;
    object-fit: contain;
  }
}

.card-shadow {
  .flag {
    width: 24px;
    height: 24px;
  }
}

.wrapper {
  width: 100%;
  margin: 30px auto;

  .progress-bar {
    width: 100%;
    background-color: #f7f7f7;
    border-radius: 9px;

    .progress-bar-fill {
      display: block;
      height: 22px;
      border-radius: 9px;
      background-color: #ffbe00;
      transition: width 500ms ease-in-out;
    }
  }
}
